<link rel="stylesheet" href="/stylesheets/style.css">
<link rel="stylesheet" href="/stylesheets/nav.css">

<nav>
     <img src="https://www.freepnglogos.com/uploads/book-png/book-clipart-transparent-17.png" alt="" width="70px">
    <ul>
        <li><a href="/">HOME</a></li>
        <li><a href="/categories">CATEGORIES</a></li>
        <li><a href="/writer">WRITER</a></li>
        <li><a href="/register">REGISTER BOOK</a></li>
        <li><a href="/book">BOOK</a></li>
    </ul>
    <h1>FOR CODERS</h1>
</nav>