<%-include("partials/header.ejs")%>
<%-include("partials/nav.ejs")%>
<link rel="stylesheet" href="/stylesheets/categories.css">
<section class="categories" id="categories">
    <h1 class="heading">product <span>categories</span></h1>
    <div class="box-container">
        <div class="box">
           <img src="https://imgs.search.brave.com/Uk-OvBb8Y-wh4EED5sljo_S1aN_4QZi26x91rAPcIJc/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5nZXR0eWltYWdl/cy5jb20vaWQvMTgy/Njc1NzQyL3Bob3Rv/L2Jvb2tzLmpwZz9z/PTYxMng2MTImdz0w/Jms9MjAmYz05aVhS/ZE1zM3NOMjVpSHll/NWtBRkJxRDRUcjFJ/VlI0SVk4Z1hHOGJr/VE1VPQ" alt="">
           <h3>Frontend</h3>
           <p>Register your Book and Enjoy learning</p>
           <a href="/register" class="btn">Register Now</a>
        </div>
        <div class="box">
            <img src="https://imgs.search.brave.com/PcOP5mYd7nzHLx9UiDsqXawt9gsvzyGNZZIUTgVAVNQ/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5nZXR0eWltYWdl/cy5jb20vaWQvMTcz/MDE1NTI3L3Bob3Rv/L2Etc2luZ2xlLXJl/ZC1ib29rLW9uLWEt/d2hpdGUtc3VyZmFj/ZS5qcGc_cz02MTJ4/NjEyJnc9MCZrPTIw/JmM9QWVLbWRadmcy/X2JSWTJZY3Q3b2RX/aFpYYXY4Q2dEdExN/Y181X3BqU0l0WT0" alt="">
            <h3>Programming Languages</h3>
            <p>Register your Book and Enjoy learning</p>
            <a href="/register" class="btn">Register Now</a>
         </div>
         <div class="box">
            <img src="https://imgs.search.brave.com/fjErzpxsr3ULhuQqE8aQ5HY4Bgr5wHDFhtiqF6tmfXw/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9tZWRp/YS5nZXR0eWltYWdl/cy5jb20vaWQvMTA4/ODA1NjUyL3Bob3Rv/L2Etc3RhY2stb2Yt/aGFyZGNvdmVyLWJv/b2tzLmpwZz9zPTYx/Mng2MTImdz0wJms9/MjAmYz1kTC1ZcDQ0/bFpMZnlZZWRDU25q/ME5oeFliM1ZyX2Vz/SE5jbDFLZ0dDQXNB/PQ" alt="">
            <h3>Iot</h3>
            <p>Register your Book and Enjoy learning</p>
            <a href="/register" class="btn">Register Now</a>
         </div>
         <div class="box">
            <img src="https://imgs.search.brave.com/wnZHxOC2rkdbBNVEdT3mKqUG3lK9DeEy7x9Ej-7vuAo/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9pbWcu/ZnJlZXBpay5jb20v/cHJlbWl1bS1waG90/by9vcGVuLWJvb2st/d2l0aC1ibHVlLWNv/dmVyXzQ4ODIyMC0x/NjQxNy5qcGc_c2l6/ZT02MjYmZXh0PWpw/Zw" alt="">
            <h3>DBMS</h3>
            <p>Register your Book
               and Enjoy learning</p>
            <a href="/register" class="btn">Register Now</a>
         </div>
         <div class="box">
            <img src="https://imgs.search.brave.com/Tck0Px_XivRDFPr7EkQamcIbUqYa6DnjF8HT2m0txT4/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9pbWFn/ZXMudW5zcGxhc2gu/Y29tL3Bob3RvLTE0/OTE4NDE1NzM2MzQt/MjgxNDBmYzdjZWQ3/P2l4bGliPXJiLTQu/MC4zJml4aWQ9TTN3/eE1qQTNmREI4TUh4/elpXRnlZMmg4TWpC/OGZHSnZiMnR6ZkdW/dWZEQjhmREI4Zkh3/dyZ3PTEwMDAmcT04/MA.jpeg" alt="">
            <h3>Data Science</h3>
            <p>Register your Book and Enjoy learning</p>
            <a href="/register" class="btn">Register Now</a>
         </div>
         <div class="box">
            <img src="https://imgs.search.brave.com/ObB_tunzmYJ4n_Xdh2mR-ZQudQEW3iX9u9PfWb9fWe8/rs:fit:500:0:0/g:ce/aHR0cHM6Ly9jZG4u/cGl4YWJheS5jb20v/cGhvdG8vMjAxNi8w/Ni8wMS8wNi8yNi9v/cGVuLWJvb2stMTQy/ODQyOF82NDAuanBn" alt="">
            <h3>Backend</h3>
            <p>Register your Book and Enjoy learning</p>
            <a href="/register" class="btn">Register Now</a>
         </div>
    </div>
</section>

<%-include("partials/footer.ejs")%>
