<%-include("partials/header.ejs")%>
<link rel="stylesheet" href="/stylesheets/style.css">
<link rel="stylesheet" href="/stylesheets/explore.css">

<h1>The 9 Best Programming Books to Read Right Now if <br> You Want to Distinguish Yourself</h1>
<br><br>
<div class="para">
<div class="line"></div>
<p>Programmers seem to have stopped reading books. The market for books on programming topics is minuscule compared to the number of working programmers. Instead, they happily program away, using trial-and-error. When they can’t figure something out, they type a question into Google.</p>
</div>

<h2>1. Coders at Work: Reflections on the Craft of Programming</h2>
        <br>
        <a href="/register"> click here <span><u>Register Book</u></span></a>
       <br><br>
  <p>If you’re curious about life as a programmer than Coders at Work is the book for you. It’s packed with interesting interviews from 15 accomplished programmers and computer scientists including Joshua Bloch, Peter Norvig, Donald Knuth, Ken Thomson, and Jamie Zawinski. The author, Peter Seibel (a programmer turned writer), got interviewees to open up about the famous projects that they worked on and the inspiring stories behind them. Coders at Work gives a peek into what makes some of the greatest programmers tick and how they think.

  </p>
  <BR></BR>

  <h2>2. Code Complete: A Practical Handbook of Software Construction</h2>
        <br>
        <a href="/register"> click here <span><u>Register Book</u></span></a>
        <br><br>
  
  <p>Steve McConnell’s Code Complete is considered to be the encyclopedia of practical coding and a must read for any professional programmer. It’s easy to understand why – it’s a massive piece of literature at 900-pages, but each chapter is packed with suggestions and techniques to improve everyday programming and construct code that is readable and easier to manage. McConnell has a knack for presenting his material in a story format that makes the book easy to read and even entertaining. No matter what level you’re at, Code Compete will undoubtedly change the way you think about and write code.</p>
  <BR></BR>

  <h2>3. The Mythical Man Month</h2>
        <br>
        <a href="/register"> click here <span><u>Register Book</u></span></a>
        <br><br>
  <p>
    The premise of this book is built on the fact that computers change, but people don’t. The Mythical Man Month is a programming classic that discusses the human elements of software engineering. Even though the book was written 30 years ago (first published in 1975) it’s stood the test of time. Why? Because building things, including software, has been as much about people as much as hit has been about materials or technology.
  </p>
  <BR></BR>

  <h2>4. Don’t Make Me Think, Revisited: A Common Sense Approach to Web Usability</h2>
        <br>
        <a href="/register"> click here <span><u>Register Book</u></span></a>
       <br> <br>
  <p>
    If you’re going to read a book on usability make it this one! Don’t Make Me Think is a great resource for any web developer who want to create websites, mobile sites or mobile apps that are much easier to use. The book is loaded with helpful information that’s presented in a clear and concise way that could be understood by both technical and non-technical audiences alike.
  </p>
  <BR></BR>

  <h2>5. The Pragmatic Programmer: From Journeyman to Master</h2>
        <br>
        <a href="/register"> click here <span><u>Register Book</u></span></a>
        <br> <br>
  <p>Another oldie, but goody, that continues to stand the test of time. The Pragmatic Programmer is a collection of lessons and recommendations for software developers. The book contains a set of numbered tips, about 70 of them, which are collected on a single tear-out card situated in the back of the book. The tips alone might seem obvious, but they contain some surprising dimensions that will help strengthen your programming career and hone your craft! 
  </p>
  <BR></BR>

  <h2>6. Clean Code: A Handbook of Agile Software Craftsmanship</h2>
        <br>
        <a href="/register"> click here <span><u>Register Book</u></span></a>
        <br> <br>
  <p>Poorly written code can bring a project to its knees, which is why developing great code is so important! In Clean Code, “Uncle Bob” Martin shares tips and examples on how to create better code. The book dives into the principles and best practices of writing clean code, and also presents increasingly challenging case studies presented that challenges readers to think about what’s right with the code, and what’s wrong with it. While examples in Clean Code are given in Java, but is applicable to nearly all programming languages.

  </p>
  <BR></BR>

  <h2>7. Programming Pearls</h2>
        <br>
        <a href="/register"> click here <span><u>Register Book</u></span></a>
        <br>
        <br>
  <p>This is a classic book for newbies that teaches the basics of solving problems. If you work through the problems on your own (without looking ahead) you’ll learn a lot and be a much stronger programmer with a deeper understanding of algorithms and algorithm design.</p>
  <BR></BR>

  <h2>8. Cracking the Coding Interview: 150 Programming Questions and Solutions</h2>
        <br>
        <a href="/register"> click here <span><u>Register Book</u></span></a>
        <br><br>
  <p>This is one of the go-to books for programming interviews if you’re looking to land a gig at a top company such as Amazon, Apple, Facebook, Google or Microsoft. As the title suggests, the book contains 150 programming questions that you might encounter at interviews, and then breaks down how to solve them. The remainder of the book focuses on non-coding aspects of the interview process such as interview prep, resume prep, behavioral prep, etc. Definitely one of the best programming interview books out there. Another good prep book is Introduction to Algorithms , which is considered to be the “bible of algorithms.”  

  </p>
  <BR></BR>

  <h2>9. Soft Skills: The Software Developer’s Life Manual</h2>
        <br>
        <a href="/register"> click here <span><u>Register Book</u></span></a>
        <br><br>
  <p>
    For most software developers, coding is the fun part. The hard parts involve dealing with clients, peers, and managers, staying productive, achieving financial security and so on. This book covers everything-else-apart-from-coding ranging from career, to personal branding, blogging, learning, teaching, finances, and even fitness and relationships.
  </p>
  <BR></BR>
<button class="btn"><a href="/">Back To Home</a></button>
<%-include("partials/footer.ejs")%>

