<%-include("partials/header.ejs")%>
<%-include("partials/nav.ejs")%>
<link rel="stylesheet" href="/stylesheets/home.css">

<div class="main">
     <div class="left">
          <h4><u>BOOK</u></h4>
           <br>
          <h1>Find Your <span>Ideal</span> Books Here</h1>
          <br><br>
           <p><span><u>Ebooks:</u></span> Coding books are available in various formats, including traditional print, ebooks, and online resources. Ebooks are particularly popular because they can be easily accessed on various devices.</p>
         <br><br>
          <p><span><u>Authors:</u></span> Well-known programmers, educators, or experts in the field often write coding books. Their experience and expertise lend credibility to the content.</p>
<br><br>
          <button><a href="/explore">Explore</a></button>
     </div>
     <div class="right">
          <img src="/images/tree.png" alt="" width="1000px">
     </div>

</div>
<%-include("partials/footer.ejs")%>

