<%-include("partials/header.ejs")%>
<%-include("partials/nav.ejs")%>
<link rel="stylesheet" href="/stylesheets/writer.css">
<section class="writer" id="writer">
    <h1 class="heading"> Best <span>Writer</span></h1>
    <div class="box-container">
        <div class="box">
            <img src="https://imgs.search.brave.com/rsxuSIpDe1_b2cDRwXOijthlcbnl7tYUMasnF3j0moE/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9tLm1l/ZGlhLWFtYXpvbi5j/b20vaW1hZ2VzL00v/TVY1Qk1EZzNObVpq/T1RBdE1qVXdPQzAw/T1dFekxXRTRPV1V0/TVRoaFlqaG1Oemt6/T0RObVhrRXlYa0Zx/Y0dkZVFYVnlOVEl4/TWpBMU5ESUAuanBn" alt="">
            <h3>Zahra Alizada</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi molestias esse quisquam provident! Id commodi facere voluptatibus vero saepe cum.</p>
            <div class="stars">
                <i class="ri-star-fill"></i>
                <i class="ri-star-fill"></i>
                <i class="ri-star-fill"></i>
                <i class="ri-star-fill"></i>
                <i class="ri-star-fill"></i>
            </div>
            <div class="social-media">
                <i class="ri-facebook-line"></i>
                <i class="ri-instagram-line"></i>
                <i class="ri-twitter-line"></i>
                <i class="ri-linkedin-line"></i>
                <i class="ri-telegram-line"></i>
            </div>
        </div>
        <div class="box">
            <img src="https://imgs.search.brave.com/LipgkIVeDghmGxY7Vs_s9LzcxwukD5lgJGN-kTdqn-Q/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9hemhk/LmFlL3dwLWNvbnRl/bnQvdXBsb2Fkcy8y/MDIyLzA1L0RyLUFo/bWVkLUFsLUtoYXRp/Yi00MDB4NDAwLmpw/Zw" alt="">
            <h3>Nagris Ahmed</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sapiente eius tempore amet non optio dolores natus blanditiis assumenda facere odio.</p>
            <div class="stars">
                <i class="ri-star-fill"></i>
                <i class="ri-star-fill"></i>
                <i class="ri-star-fill"></i>
                <i class="ri-star-fill"></i>
                <i class="ri-star-fill"></i>
            </div>
            <div class="social-media">
                <i class="ri-facebook-line"></i>
                <i class="ri-instagram-line"></i>
                <i class="ri-twitter-line"></i>
                <i class="ri-linkedin-line"></i>
                <i class="ri-telegram-line"></i>
            </div>
        </div>
        <div class="box">
            <img src="https://imgs.search.brave.com/geDYYTOT8MJMnV1DVRc_pCdiSFUm44QEgdl9NyNAurs/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9iZWNv/bWVhd3JpdGVydG9k/YXkuY29tL3dwLWNv/bnRlbnQvd2VicC1l/eHByZXNzL3dlYnAt/aW1hZ2VzL3VwbG9h/ZHMvMjAxMy8wOS9S/b2FsZF9EYWhsLmpw/Zy53ZWJw" alt="">
            <h3>ALi Alizada</h3>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Rerum rem, doloribus quia incidunt maxime cum tempora deleniti voluptatibus consequuntur quo?</p>
            <div class="stars">
                <i class="ri-star-fill"></i>
                <i class="ri-star-fill"></i>
                <i class="ri-star-fill"></i>
                <i class="ri-star-fill"></i>
                <i class="ri-star-fill"></i>
            </div>
            <div class="social-media">
                <i class="ri-facebook-line"></i>
                <i class="ri-instagram-line"></i>
                <i class="ri-twitter-line"></i>
                <i class="ri-linkedin-line"></i>
                <i class="ri-telegram-line"></i>
            </div>
        </div>
    </div>
</section>
<%-include("partials/footer.ejs")%>
 